{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<style type="text/css">
.col-downloads {
  display: none !important;
}
</style>
<script type="text/javascript">
function debOnClick() {
    return confirm("Do you really want to download this Debian/Ubuntu package directly? Using the Debian/Ubuntu package repo is the preferred way.");
}
</script>
<div class="container">
  <div class="page-header">
    <h1>Downloads</h1>
  </div>
  <p>
    You can find builds of the Mapcrafter project on this page.
  </p>
  <p>
    Please have a look at the <a href="http://docs.mapcrafter.org">documentation</a>
    before downloading any packages.
  </p>
  <p>
    If you are going to use a Debian/Ubuntu package, please consider using the
    <a href="http://docs.mapcrafter.org/builds/stable/installation.html#debian-packages">Debian/Ubuntu package repository</a>
    directly.
  </p>
  <div style="height: 20px"></div>
  <p style="text-align: center">
  {% for channel in channels %}
    {% if channel.1 %}
      <b>{{ channel.0.verbose_name }}</b>
    {% else %}
    <a href='{% url 'mapcrafterweb:downloads' channel.0.name %}'>{{ channel.0.verbose_name }}</a>
    {% endif %}
  {% endfor %}
  </p>
  <table class="table">
    <tr>
      <th>Version</th>
      <th>Build date</th>
      <th>Type</th>
      <th>Arch</th>
      <th class="col-downloads">Downloads</th>
      <th>Download</th>
    </tr>
    {% for group in package_groups %}
    {% for package in group.packages %}
    <tr>
      {% if forloop.first %}
      <th rowspan="{{ group.packages|length }}" style="vertical-align: middle">{{ group.version }}</th>
      {% endif %}
      <td>{{ package.date }}</td>
      <td>{{ package.type.verbose_name }}</td>
      <td>{{ package.arch_name }}</td>
      <td class="col-downloads">{{ package.downloads }}</td>
      <td><a href="{{ package.url }}" {% if package.type.name|slice:":3" == "deb" %} onclick="return debOnClick()" {% endif %}>{{ package.filename }}</a></td>
    </tr>
    {% endfor %}
    {% endfor %}
  </table>
</div>

{% endblock %}
