{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="container">
  <h1>Downloads</h1>
  <table class="table">
    <tr>
      <th>Build date</th>
      <th>Download</th>
      <th>Type</th>
      <th>Arch</th>
    </tr>
    {% for package in packages %}
    <tr>
      <td>{{ package.date }}</th>
      <td><a href="{{ package.url }}">{{ package.filename }}</a></th>
      <td>{{ package.type.verbose_name }}</th>
      <td>{{ package.arch_name }}</th>
    </tr>
    {% endfor %}
  </table>
</div>

{% endblock %}