{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<style type="text/css">
.col-downloads {
  display: none !important;
}
</style>
<div class="container">
  <div class="page-header">
    <h1>Downloads</h1>
  </div>
  <p>
    You can find builds of the Mapcrafter project on this page.
  </p>
  <p>
    Please have a look at the <a href="http://docs.mapcrafter.org">documentation</a>
    before downloading any packages.
  </p>
  <p>
    If you are going to use a Debian package, please consider using the
    <a href="http://docs.mapcrafter.org/builds/stable/installation.html#debian-packages">Debian package repository</a>
    directly.
  </p>
  <div style="height: 20px"></div>
  <table class="table">
    <tr>
      <th>Version</th>
      <th>Build date</th>
      <th>Download</th>
      <th>Type</th>
      <th>Arch</th>
      <th class="col-downloads">Downloads</th>
    </tr>
    {% for group in group_win %}
    {% for package in group.packages %}
    <tr>
      {% if forloop.first %}
      <th rowspan="{{ group.packages|length }}" style="vertical-align: middle">{{ group.version }}</th>
      {% endif %}
      <td>{{ package.date }}</td>
      <td><a href="{{ package.url }}">{{ package.filename }}</a></td>
      <td>{{ package.type.verbose_name }}</td>
      <td>{{ package.arch_name }}</td>
      <td class="col-downloads">{{ package.downloads }}</td>
    </tr>
    {% endfor %}
    {% endfor %}
  </table>
</div>

{% endblock %}