{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<style type="text/css">
footer ul {
    margin-left: auto;
    margin-right: auto;
}

footer ul li {
    list-style-type: none;
    float: left;
    margin-left: 5px;
    margin-right: 5px;
}
</style>

<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <p><br /><br /></p>
        <h2>Welcome!</h2>
        <p>Mapcrafter is a high performance Minecraft map renderer written in C++ which renders your Minecraft worlds to fancy maps viewable in any webbrowser.</p>
        <p><a class="btn btn-primary btn-lg" href="{% url 'mapcrafterweb:downloads' %}">Get Mapcrafter &raquo;</a></p>
        <p><br /></p>
      </div>
      <div class="col-lg-6">
        <p><center><img src="{% static "mapcrafter_example.png" %}" class="img-thumbnail img-responsive"/></center></p>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h3>News</h3>
    </div>
  </div>
  <div class="row">
    {% for entry in entries %}
    <div class="col-lg-4">
      <h4><a href="{{ entry.get_absolute_url }}">{{ entry.title }}</a></h4>
    </div>
    {% endfor %}
  </div>
  <div class="row">
    <div class="col-lg-4">
      <h3>GitHub</h3>
      <p>Access the source code, report new issues and comment on them.</p>
      <p><a class="btn btn-default" href="https://github.com/mapcrafter/mapcrafter">Go to GitHub &raquo;</a></p>
    </div>
    <div class="col-lg-4">
      <h3>Documentation</h3>
      <p>Read the documentation and learn how to use the renderer.</p>
      <p><a class="btn btn-default" href="http://docs.mapcrafter.org">Go to documentation &raquo;</a></p>
   </div>
    <div class="col-lg-4">
      <h3>ExMaple</h3>
      <p>A rendered example map with most blocks available in Minecraft.</p>
      <p><a class="btn btn-default" href="http://exmaple.mapcrafter.org">Go to ExMaple &raquo;</a></p>
    </div>
  </div>

  <hr />

  <footer>
    <div style="display: table; margin: 0 auto;">
      <ul>
        <li>
          <iframe src="http://ghbtns.com/github-btn.html?user=mapcrafter&repo=mapcrafter&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="88px" height="20px"></iframe>
        </li>
        <li>
          <iframe src="http://ghbtns.com/github-btn.html?user=mapcrafter&repo=mapcrafter&type=fork&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="88px" height="20px"></iframe>
        </li>
        <li>
          <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=9C5QZ3NFE7MTE" target="_blank"><img src="https://www.paypalobjects.com/en_GB/i/btn/btn_donate_SM.gif" /></a>
        </li>
        <li>
          <script id='fbon78s'>(function(i){var f,s=document.getElementById(i);f=document.createElement('iframe');f.src='//api.flattr.com/button/view/?uid=m0r13&button=compact&url=http%3A%2F%2Fmapcrafter.org';f.title='Flattr';f.height=20;f.width=110;f.style.borderWidth=0;s.parentNode.insertBefore(f,s);})('fbon78s');</script>
        </li>
      </ul>
      <div style="clear: both"></div>
    </div>
  </footer>
</div>
{% endblock %}
